<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>CricMyBrain</title>
    <link rel='shortcut icon' type='image/x-icon' href='/img/favicon.ico' />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
	<header class="header"></header>
    <div id="dashboard" class="page-container" data-attribute="<%= user %>"></div>
    <script data-main="js/main-build" src="js/libs/require.js"></script>
</body>
</html>