<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link rel='shortcut icon' type='image/x-icon' href='/img/favicon.ico' />
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>Dashboard</h1>
</body>
</html>
