<form class="form">
	<div class="form-group">
		<label for="name" class="control-label">Name:</label>
		<input type="name" class="form-control" name="name" placeholder="Name">
		<span class="help-block hidden"></span>
	</div>
	<div class="form-group">
		<label for="email" class="control-label">Email:</label>
		<input type="email" class="form-control" name="email" placeholder="Email">
		<span class="help-block hidden"></span>
	</div>
	<div class="form-group">
		<label for="teamname" class="control-label">Team Name:</label>
		<input type="text" class="form-control" name="teamname" placeholder="Team Name">
		<span class="help-block hidden"></span>
	</div>
	<div class="form-group">
		<label for="password" class="control-label">Password:</label>
		<input type="password" class="form-control" name="password" placeholder="Password">
		<span class="help-block hidden"></span>
	</div>
	<div class="form-group">
		<label for="confirmpassword" class="control-label">Confirm Password:</label>
		<input type="password" class="form-control" name="confirmpassword" placeholder="Confirm Password">
		<span class="help-block hidden"></span>
	</div>
	<div class="form-group">
		<button type="button" class="btn btn-primary" id="register">Register</button>
	</div>
</form>
<div class="hidden success-message">
	<p>Congratulations. You have successfully created your account!!!</p>
	<p>Login with you Email, Password to start playing.</p>
</div>