html, body {
	font-family: "Arial";
	font-size: 14px;
	width: 100%;
	height: 100%;
	background: #fffcf9;
}

#page {
	width: 100%;
	height: 100%;
}

.nav {
	cursor: pointer;
}

.nav > li > a:hover, .nav > li > a:focus {
	background: #fff;
}
hr {
	border-color: #2a2c30;
	border-style: dashed;
}

.tab-content {
	padding: 16px;
	border: 1px solid #ddd;
	border-top: 0px;
	background: #fff;
	border-radius: 0px 5px 5px 5px;
}

.page-container {
	width: 100%;
	height: 100%;
}

