.content {
	.todays-matches, .points-table {
		border-top: 1px solid #2a2c30;
	}

	.refresh-table {
		cursor: pointer;
		&:hover {
			color: #939393;
		}
	}

	.prediction-rules {
		.form-control {
			width: 280px;
		}
	}

	.match-row, .winner-match-row {
		border-top: 1px solid #2a2c30;
		padding: 16px 0;
	}
}

.results-content {
	.result-heading {
		.heading-label {
			@include display-inline-block;
			padding-right: 24px;
		}
		.form-control {
			@include display-inline-block;
			width: auto;
		}
	}

	.table {
		.winning-predictions {
			th{
				font-style: italic;
			}
		}
	}
}

.prediction-note {
	font-size: 14px;
	color: green;
	font-weight: bold;
}

.prediction-range {
	color:brown;
}

.prediction-points {
	color:blue;
}
