.content {
	.todays-matches, .points-table {
		border-top: 1px solid #2a2c30;
	}

	.refresh-table {
		cursor: pointer;
		&:hover {
			color: #939393;
		}
	}

	.prediction-rules {
		.form-control {
			width: 280px;
			border: 1px solid #77797c;
		}
	}

	.match-row, .winner-match-row {
		border-top: 1px solid #2a2c30;
		padding: 16px 0;
	}

	ul.upcoming-matches-list, ul.recent-matches-list {
		list-style: none;
		padding: 0;
		li.upcoming-match {
			font-size: 20px;
			color: #009dd0;
		    padding: 16px 0;
    		border-bottom: 1px solid #2a2c30;
    		cursor: pointer;

    		.match-time {
    			font-size: 16px;
    			color: #2a2c30;
    			cursor: default;
    			font-style: italic;
    			&:hover {
    				color: #2a2c30;
    			}
    		}
			&:hover {
				color: #00bce4;
			}
		}
	}
}

.results-content {
	.result-heading {
		.heading-label {
			@include display-inline-block;
			padding-right: 24px;
		}
		.form-control {
			@include display-inline-block;
			width: auto;
		}
	}

	.table {
		.winning-predictions {
			th{
				font-style: italic;
			}
		}
	}
}

.prediction-note {
	font-size: 14px;
	color: green;
	font-weight: bold;
}

.prediction-range {
	color:brown;
}

.prediction-points {
	color:blue;
}

.success-message {
	display: none;
}
