.login-container {
	width: 500px;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);

	h4 {
		text-align: center;
		font-weight: bold;
		font-style: italic;
	}

	.success-message {
		font-size: 14px;
		font-weight: bold;
		font-style: italic;
		color: green;
	}
}