<div class="sub-headers">
	<div class="logo">
		<a href="#"><h2>CRICMYBRAIN</h2></a>
	</div>
	<ul class="menu">
		<li class="menu-item" id="dashboard-nav">
			<a href="#"><span class="menu-title">Dashboard</span></a>
		</li>
		<li class="menu-item" id="results-nav">
			<a href="#results"><span class="menu-title">Results</span></a>
		</li>
		<li class="menu-item" id="points-table-nav">
			<a href="#points-table"><span class="menu-title">Points Table</span></a>
		</li>
	</ul>
</div>
<div class="logout-button">
	<a href="/logout" class="">
		<i class="fa fa-sign-out"></i>
		<span>Sign Out</span>
	</a>
</div>