<div class="sub-headers">
	<div class="logo">
		<a href="#"><h2>CRICMYBRAIN</h2></a>
	</div>
	<ul class="menu">
		<li class="menu-item" id="dashboard-nav">
			<a href="#"><span class="menu-title">Dashboard</span></a>
		</li>
		<li class="menu-item" id="results-nav">
			<a href="#results"><span class="menu-title">Results</span></a>
		</li>
		<li class="menu-item" id="points-table-nav">
			<a href="#points-table"><span class="menu-title">Points Table</span></a>
		</li>
	</ul>
</div>
<ul class="right-menu">
	<li class="menu-item" id="help-nav">
		<a href="#help">
			<i class="fa fa-question-circle"></i>
			<span class="menu-title">Help/FAQ's</span>
		</a>
	</li>
	<li class="menu-item" id="results-nav">
		<a href="/logout" class="">
			<i class="fa fa-sign-out"></i>
			<span class="menu-title">Sign Out</span>
		</a>

	</li>
</ul>
