<h3>RULES</h3>
<ol>
	<li>Playing the game is really easy! All you have to do is predict!</li>
	<li>For every match, you will have to submit your predictions for four questions. Three of these questions are common to every match – they are the “Stock Balls” for each match.</li>
	<li>The fourth question is the “Flipper”, which is a bonus question for the match. This question will be different for each match.</li>
	<li>
		Point scoring for Stock balls look something like this – 
		<ul>
			<li>Every correct prediction for the Winning team of the match will get you 2 points</li>
			<li>Every correct prediction for the maximum runs scored by a single batsman in the match gives you 3 points</li>
			<li>Every correct prediction for the bowler with the best bowling figures in the match gets you 3 points</li>
		</ul>
	</li>

	<li>Getting all your 3 Stock balls right will give you additional bonus and the total points scored will be 15 points</li>

	<li>The Flipper will get you 2 to 3 points for each right prediction</li>

	<li>If you get all your predictions for a particular match correct, you get a total of whopping 17 to 18 points!</li>

	<li>Now coming to drawing of the crease – 
		<ul>
			<li>Your stock ball# 2 (maximum runs by single batsman in the match) has a permitted range of 3 runs – you can be within 3 runs on either side of the correct answer.</li>

			<li>Your Flipper may or may not carry a similar range – whenever applicable, it will be visible just below the question on the dashboard</li>
		</ul>
	</li>

	<li>Getting all your 3 Stock balls right will give you additional bonus and the total points scored will be 15 points</li>

	<li>The Flipper will get you 2 to 3 points for each right prediction</li>

	<li>If you get all your predictions for a particular match correct, you get a total of whopping 17 to 18 points!</li>

	<li>Now coming to drawing of the crease – 
		<ul>
			<li>Your stock ball# 2 (maximum runs by single batsman in the match) has a permitted range of 3 runs – you can be within 3 runs on either side of the correct answer.</li>

			<li>Your Flipper may or may not carry a similar range – whenever applicable, it will be visible just below the question on the dashboard</li>
		</ul>
	</li>
	
	<li>For a tie in the questions pertaining to best economy rate of bowlers, the bowler with most number of balls bowled will be considered as the winning prediction.</li>

	<li>Entries can be submitted only till the exact time of the scheduled match start (any delays are not considered, sorry!), after which you will not be allowed to enter your predictions.</li>

	<li>Entries will not be captured unless you hit the Submit button.</li>

	<li>All scores are updated after each match and the points table will automatically reflect the latest scores.</li>

	<li>You are allowed to register only 1 team per email ID</li>

	<li>In case of a tie in points in the Points Table, the team with the highest number of correct predictions will be placed at a higher level.</li>

	<li>All predictions and answers across categories will be voided if the match gets abandoned</li>
</ol>


<h3>FAQ's</h3>
<dl>
	<dt>Q. How to start playing? How to register?</dt>
	<dd><b>Ans:</b> It’s really simple! Just sign up with your basic email account details and you’re all set!</dd>

	<dt>Q. Do I need to pay in order to register and play this game?</dt>
	<dd><b>Ans:</b> No you don’t! That’s the wonderful part about this game – you don’t have to shell a penny to play this game. It’s free!</dd>

	<dt>Q. Can I register multiple teams per email ID?</dt>
	<dd><b>Ans:</b> No – you can only register one Fantasy team per email ID. You cannot use the same email ID again</dd>

	<dt>Q. When can I start entering my predictions for a particular match?</dt>
	<dd><b>Ans:</b> You can start locking in your predictions as soon as the match is available for entry on the dashboard page, which will be 00:00 GMT of each day.</dd>

	<dt>Q. Can I create leagues with my friends and play against them?</dt>
	<dd><b>Ans:</b> We’re working on getting this feature in for you, but for now, you can play with your own team and collect points to be at the summit of the rankings!</dd>

	<dt>Q. Can I change my predictions after I enter them for the first time?</dt>
	<dd><b>Ans:</b> Good news is – Yes you can! You can change your predictions unlimited number of times till the window shuts, the cut-off for which is the start time of the match.</dd>

	<dt>Q. Can I enter predictions for multiple future matches on a single day?</dt>
	<dd><b>Ans:</b> Yes you can! As long as the matches are available to enter your prediction, you can lock them in ahead of time!</dd>

	<dt>Q. I cannot see my predictions reflecting in the “Results” page. What might have happened?</dt>
	<dd><b>Ans:</b> Your predictions might not have been locked in, even though you did enter them. Don’t forget to hit the Submit button to lock your predictions for the points!</dd>

	<dt>Q. Help me! I need technical assistance – I am not able to play! I’m getting errors!</dt>
	<dd><b>Ans:</b> Worry not! You can reach out to us at <b><a href="mailto:cricmybrain@gmail.com" target="_top">cricmybrain@gmail.com</a></b> and let us know of your issue. We will work to get it resolved as soon as we can so that you can get back to enjoying the game!</dd>
</dl>
