<div class="container login-container">
    <h4>Welcome to CricMyBrain Fantasy League</h4>
    <ul class="nav nav-tabs">
        <li class="nav active" data-attribute="login">
        	<a data-toggle="tab">LOGIN</a>
    	</li>
        <li class="nav" data-attribute="register">
        	<a data-toggle="tab">REGISTER</a>
    	</li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="login"></div>
        <div class="tab-pane fade" id="register"></div>
    </div>
</div>